fastapi
uvicorn
python-multipart
bookmarks-converter
datasets
evaluate
transformers[sentencepiece]
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
aiohttp
Beautifulsoup4
pyinstaller
dictknife